<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/SignUp</title>
    <link rel="shortcut icon" href="../public/img/burger.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/Index.css">
</head>
<body>

    <header>
        <h1>BitFood</h1>
        <h3>The Best Food in the World!</h3>
    </header>

    <nav>
        <span><a href= "../public/html/Home.html">Home Page</a></span>
        <span><a href="/public/index.html">Login/SignUp</a></span>
        <span><a href="../public/html/food_descriptions.html">Food Descriptions</a></span>
        <span><a href="../public/html/online_ordering.html">Online Ordering</a></span>
    </nav>


    <section>
        <h3>Login & Sign Up Page</h3>
        <img src="../public/img/password.jpg" alt="">
        <p>Please Enter your email</p>
        <p>Please Enter your Password</p>
    </section>


    <hr>
    <footer>
        <p>Rick Dymond, Email: Rdymond@oakland.edu</p>
    </footer>

</body>
</html>