
body {
    background-color: blanchedalmond;
}

h1 { 
    text-align: center;
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #090b80;
	}
h3 { 
    text-align: center;
	font: italic normal 1.2em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #090b80;
	}

nav {
    text-align: center;
    font: italic normal .8em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #0bb3b3;
    
}

table {
    font: italic normal .8em georgia, sans-serif;
    color: black;
    border-style: double;
    border-color: black;
    background-color: rgb(221, 118, 138);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 8px;
  }

footer { 
	text-align: center; 
    font: italic normal 1.0em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #090b80;
	}




	body {
		background-color: blanchedalmond;
	}
	
	h1 { 
		text-align: center;
		font: italic normal 1.4em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		color: #090b80;
		}
	h3 { 
		text-align: center;
		font: italic normal 1.2em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		color: #090b80;
		}
	
	nav {
		text-align: center;
		font: italic normal .8em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		color: #0bb3b3;
		/*visibility: hidden;*/
	}
	
	section {
		text-align: center;
		font: italic normal 1.2em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		color: #090b80;
	}
	
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		border-radius: 8px;
	  }
	
	footer { 
		text-align: center; 
		font: italic normal 1.0em georgia, sans-serif;
		letter-spacing: 1px; 
		margin-bottom: 0; 
		color: #090b80;
		}
	